.chat-main
  .chat-main__group-info
    .chat-main__group-info__name
      .chat-main__group-info__name__name
        test
      .chat-main__group-info__name__member
        Member : takashi.nakajima
    .chat-main__group-info__edit
      .chat-main__group-info__edit__btn
        =link_to  "#", class: "chat-main__group-info__edit__btn-a" do
          edit
  
  .chat-main__message-list
    .chat-main__message-list-box
      .chat-main__message-list-box__info
        .chat-main__message-list-box__info__name
          takashi
        .chat-main__message-list-box__info__daytime
          2021/03/23(Tue) 00:00:00
      .chat-main__message-list-box__message
        おはよう
    .chat-main__message-list-box
      .chat-main__message-list-box__info
        .chat-main__message-list-box__info__name
          takashi
        .chat-main__message-list-box__info__daytime
          2021/03/24(Wed) 00:00:00
      .chat-main__message-list-box__message
        おはよう

  .chat-main__message-form
    %form.chat-main__message-form__text
      %input{type: "text", class:"chat-main__message-form__text-message", placeholder: "type a message"}
      %label{class: "chat-main__message-form__text-image"}
        = icon('fas', 'image')
        %input{type: "file", class:"chat-main__message-form__text-image__del"}
    %input{type: "submit", class:"chat-main__message-form__send"}